name: Code quality checks
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GOOS: linux
  GO111MODULE: on

jobs:
  golangci:
    name: GolangCI Lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go 1.21
        uses: actions/setup-go@v5
        with:
          go-version: 1.21
      - name: Checkout code into go module directory
        uses: actions/checkout@v4
      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          args: --timeout 5m
          skip-cache: true
          skip-pkg-cache: true
          skip-build-cache: true
